@import url("https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&display=swap");

:root {
  --dark-celeste: #6482ad;
  --light-celeste: #7fa1c3;
  --dark-gray: #e2dad6;
  --light-gray: #f5eded;
}

* {
  font-family: "Anek Devanagari", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--light-gray);
  height: 70px;
}

.navegacion {
  display: flex;
  align-items: center;
}

/*Estilo para el botón de hamburguesa*/
.hamburger {
  /*Oculta el elemento*/
  display: none;
  height: 50px;
  width: 50px;
  transform: 0.2s;
  position: relative;
}
.hamburger .checkbox {
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.line {
  transition: 0.5s;
  stroke-width: 6px;
  stroke: black;
}
.lineTop {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 25;
}
.lineBottom {
  stroke-dasharray: 40 40;
  stroke-dashoffset: 60;
}
.lineMid {
  stroke-dasharray: 40 40;
}
.hamburger .checkbox:checked + svg .line {
  stroke: crimson;
}
.hamburger .checkbox:checked + svg .lineTop {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(45deg) translate(-7px, -5px);
}
.hamburger .checkbox:checked + svg .lineMid {
  stroke-dashoffset: 40;
}
.hamburger .checkbox:checked + svg .lineBottom {
  stroke-dashoffset: 0;
  transform-origin: left;
  transform: rotateZ(-45deg) translate(-5px, 5px);
}

/*Menú desplegable*/
.link {
  cursor: pointer;
  display: block;
  padding: 15px;
  color: #4D4D4D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #CCC;
  position: relative;
  transition: all 0.4s ease;
}

.submenu {
  display: none;
  background: #444359;
  font-size: 14px;
}

.submenu li {
  border-bottom: 1px solid #4b4a5e;
}

.submenu a {
  display: block;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  transition: all 0.25s ease;
}

.submenu a:hover {
  background: #b63b4d;
  color: #FFF;
}

/*Estilo para mi lista*/

.menu {
  list-style: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.header__link {
  text-align: center;
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-celeste);
  transition: transform 0.3s ease;
}

.header__link:hover {
  color: black;
  transform: scale(1.1);
}

.informacion {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 4% 8% 4% 4%;
  background-color: var(--light-celeste);
  color: var(--light-gray);
}

.informacion__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.informacion__texto__titulo {
  font-size: 48px;
  font-weight: 600;
  color: black;
  text-align: center;
}

.informacion__texto__parrafo {
  font-size: 24px;
  font-weight: 500;
}

.informacion__imagen {
  width: 30%;
  height: auto;
  border-radius: 1.5rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  object-fit: cover;
}

.ubicacion {
  display: flex;
  flex-direction: column;
  background-color: var(--dark-celeste);
  padding: 2%;
}

.ubicacion__titulo {
  font-size: 40px;
  font-weight: 700;
  margin: 0 0 auto 0;
}

.ubicacion__informacion {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.ubicacion__informacion__mapa {
  width: 40%;
  height: 400px;
}

.ubicacion__informacion__texto__titulo {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
}

.ubicacion__informacion__texto__parrafo {
  color: var(--dark-gray);
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.contactanos {
  background-color: var(--dark-gray);
  text-align: center;
  padding: 20px;
}

.contactanos__titulo {
  font-size: 24px; /* Tamaño del título */
  margin-bottom: 20px; /* Espacio debajo del título */
}

.contactanos__botones {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.botonesRedes {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-gray);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
  width: 20%;
  gap: 16px;
  color: black;
  transition: transform 0.3s ease;
}

/*Hover para los botones de las redes sociales*/
.botonesRedes:hover {
  color: var(--light-gray);
  transform: scale(1.05); /* Agranda el botón un 10% */
}

.botonTelefono:hover {
  background-color: orange;
}

.botonWssp:hover {
  background-color: #25d366;
}
.botonFace:hover {
  background-color: #0866ff;
}
.botonIG:hover {
  background: linear-gradient(45deg, #f58529, #dd2a7b, #8134af, #515bd4);
}
.botonTT:hover {
  background: linear-gradient(45deg, #25f4dd, #fe2c55);
}

/*Carta de presentacion del equipo dental*/
.apartado__equipo {
  background-color: var(--light-gray);
  padding: 20px;
}

.equipo__grupo {
  display: flex;
  flex-wrap: wrap;
  gap: 24px 0;
  justify-content: space-between;
}

.cartas {
  width: 49%;
  height: auto;
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
}

.cartas2 {
  height: 100%;
  background-color: var(--dark-gray);
  border-radius: 20px;
  transition: all 0.2s;
}

.cartas2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.cartas:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.3);
}

.cartas2__informacion {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
  padding: 16px;
}

.cartas2__circular {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.fotoPerfil {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cartas2__texto {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nombreEmpleado {
  margin: 0;
}
.especialidad {
  margin: 0;
  color: var(--light-celeste);
}

.equipo__parrafo__Texto {
  margin: 16px;
}

/*Estilos para el footer*/
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-celeste);
  height: 50px;

  margin: 0;
  flex-direction: row;
  justify-content: space-around;
}

.footer__licencia {
  margin: 0;
}

.terminoCondiciones {
  color: var(--light-gray);
}

.terminoCondiciones {
  color: var(--light-gray);
}

.terminoCondiciones:hover {
  color: black;
}

@media screen and (max-width: 900px) {
  .hamburger {
    display: block;
  }

  .informacion__texto__titulo {
    text-align: start;
  }
  .informacion {
    flex-direction: column;
    align-items: center;
  }
  .informacion__imagen {
    width: 80%;
  }

  /*Ubicación*/

  .ubicacion__informacion {
    flex-direction: column;
    gap: 40px;
    align-items: center;
  }
  .ubicacion__informacion__mapa {
    width: 100%;
  }

  /*Contáctenos*/
  .contactanos__botones {
    flex-wrap: wrap;
    justify-content: center;
  }
  .botonesRedes {
    width: 40%;
    flex-direction: row;
    align-items: center;
  }

  /*Equipo*/
  .equipo__grupo {
    flex-direction: column;
    align-items: center;
  }
  .cartas {
    width: 100%;
    height: auto;
  }
  .cartas2 {
    padding: 10px;

  }
}
